html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
  
  body {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    line-height: 1.35;
    background-color: #1F1F20;
    margin: 0;
  }



  /** navigation **/

.navbar {
  overflow: hidden;
  background-color: #1F1F20;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 14px 16px;
  color: #FFF;
}

.navbar a:hover {
  background: #647DC6;
  color: #FFF;
}



  /** header/hero **/
  header {
    height: 45em;
    color: #FFF;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    background-color: #fdfdfd;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('https://i.imgur.com/FC95NPr.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .hero-text {
      line-height: 3rem;
      padding-top: 5%;
      font-size: 38px;
  }

  .header-left, .header-right {
    margin-top: 30px;
  }




  /** section background and text **/
  
  section:nth-child(odd) {
    background: linear-gradient(
                     rgba(20,20,20, .77), 
                     rgba(20,20,20, .77)),
                     url('https://i.imgur.com/FC95NPr.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  h2, h3, h4 {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
  }

  h1 {
    font-family: 'Noto Serif TC', serif;
    text-align: left;
  } 
  p {
      word-break: break-word;
      line-height: 2;
      text-align: left;
  }

  a {
    color: #FFF;
    text-decoration: none;
  }

  a:hover {
    color: #CCD5E8;
  }


 section .projects-div h2 {
      text-align: center;
      padding-top: 2%;
  }


/** images/icons **/
  
  .icons {
    font-size: 2.5rem;
    color: #FFF;
  }


  /** projects section **/

  .projects-div {
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      margin: auto;
      
  }

  .projects-div-outer {
    margin: 2.5%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1.5px solid #000;
  }

  .project > p {
      text-align: left;
      padding: 5%;
      opacity: 1;
}

.project-link:link, .project-link:visited {
    background-color:  #1F1F20;
    color: white;
    padding: 14px 25px;
    text-align: center;
    width: 90px;
    text-decoration: none;
    display: inline-block;
    border: 2px #FFF solid;
  }
  
  .project-link:hover, .project-link:active {
    background-color: #647DC6;
  }

  .project-link {
    margin: 1px 10px 6px 10px;
  }

 

  /** about me **/

  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .aboutme-div {
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }

 .aboutme-img {
    padding: 2%;
  }

  .aboutme-img img {
    border: 1px solid #000;
    border-radius: 2%;
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }

  /** contact div **/

.contact-div {
  display: flex;
  flex-flow: row wrap;
}

.contact-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
  

 
 /** footer **/

 footer {
   width: 100%;
   padding-top: 1%;
 }
  



  /**       *~~~~Screens bigger than 768px wide!~~~~*        **/


  @media only screen and (min-width: 768px) {
      
/** HEADER **/

      header {
        height: 55vw;
        color: #FFF;
        padding: 12% 6%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
      }

/** PROJECTS **/

      section > h2 {
          text-align: center;
          padding-bottom: 3%;
          padding-top: 3%;
      }

      .projects-div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      }


      .projects-div-outer {
         border: 2px solid #000; 
         margin-left: 2%;
         margin-right: 2%;
        }

      .projects-div h3 {
          text-align: center;
      }


      .project {
          width: 35%;
      }

/** ABOUT ME **/

      .container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-content: center;
          align-items: center;
          justify-items: center;
          border-top: 2px solid #000;
      }

      .aboutme-div {
        padding: 3% 5% 3% 5%;
      }

      .aboutme-img {
        /**width: 40%;**/
        margin-top: 3.25%;

      }

      /** CONTACT & FOOTER **/
      .contact-div {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
      }


    footer {
      width: 40%;

    }

      
  }

 