* {
    box-sizing: border-box;
  }
  
  body {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    line-height: 1.35;
    background-color: #1F1F20;
    
  }
  

  header {
    height: 45em;
    color: #FFF;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    background-color: #fdfdfd;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url('https://i.imgur.com/FC95NPr.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .hero-text {
      line-height: 3rem;
      padding-top: 5%;
      font-size: 38px;
  }

  
  
  
  section:nth-child(odd) {
    /**background-image: linear-gradient(to bottom, #000, #16132E);**/
    background: linear-gradient(
                     rgba(20,20,20, .77), 
                     rgba(20,20,20, .77)),
                     url('https://i.imgur.com/FC95NPr.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  h2, h3, h4 {
    font-family: 'Noto Serif TC', serif;
    text-align: center;
  }

  h1 {
    font-family: 'Noto Serif TC', serif;
    text-align: left;
  } 
  p {
      word-break: break-word;
      line-height: 2;
  }



  
  .icons {
    font-size: 2.5rem;
    color: #FFF;
  }


  .projects-div {
      display: block;
      text-align: center;
      margin: auto;
      

  }

  .project > p {
      text-align: left;
      padding: 5%;
}
  .container {
    display: block;
    padding-top: 2%;
    padding-bottom: 4%;
    
  }

  .aboutme-div {
      width: 80%;
      margin: 0 auto;
  }

  .contact-div {
      text-align: center;
  }

  section > h2 {
      text-align: center;
      padding-top: 2rem;
  }

  .center {
      text-align: center;
  }

  .project-link:link, .project-link:visited {
    background-color: #302E42;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .project-link:hover, .project-link:active {
    background-color: #000;
  }

  /** for larger screens **/


  @media only screen and (min-width: 768px) {
      

      header {
        height: 55vw;
        color: #FFF;
        padding: 12% 6%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
      }

      section > h2 {
          text-align: center;
          padding-bottom: 5%;;
      }

      .projects-div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3%;
        padding-bottom: 3%;
      }

      .projects-div > h2, h3 {
          text-align: center;
      }


      .project {
          display: block;
          width: 40%;
          padding: 1.5em;
          margin: 0 auto;
      }

      .container {
          display: flex;
          flex-flow: row wrap;
      }

      .aboutme-div {
          width: 60%;
          padding: 10%;
      }

      .contact-div {
          width: 40%;
          padding: 10%;
      }


    

      
  }

 